<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4071878363-1psuhe7hkoe7f93sjtiap586p1oe6jga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4071878363-1psuhe7hkoe7f93sjtiap586p1oe6jga</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4071878363-49fvamanae3j2vd6921jn9oksdiqes75.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcIOWyv9V4H5ToFywYLSxKX1filnOkOhI</string>
	<key>GCM_SENDER_ID</key>
	<string>4071878363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itmandiri.church</string>
	<key>PROJECT_ID</key>
	<string>hatiku-4c1de</string>
	<key>STORAGE_BUCKET</key>
	<string>hatiku-4c1de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4071878363:ios:c51e14d5f1a1b62ba266fe</string>
	<key>DATABASE_URL</key>
	<string>https://hatiku-4c1de.firebaseio.com</string>
</dict>
</plist>